{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <ul>
                        <ul {{categories.id}}>{{categories.nom|capitalize}} </ul> <br>
                </ul>

            </div>
           <div class="col-6">
                {{form_start(formCategories)}}
                {{form_end(formCategories)}}
            </div>
        </div>
    </div>
{% endblock %}
