{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6">


                    <p> Il y a {{ series |length }} series dans la filmothèque.</p>

                <a href="{{ path('series') }}">
                    <button class="btn btn-warning">Page Series</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
